.game {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.6fr 1.4fr;
  gap: 0px 0px;
  grid-template-areas:
    '.'
    '.';
  height: 100%;
}

.game__flashcards {
  display: grid;
  gap: 0px 20px;
  padding: 0 1em;
  justify-items: center;
  align-items: center;
}

.game__interface {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0px 0px;
  grid-template-areas:
    '. . .'
    '. . .'
    '. . .';
  background-color: var(--background-tertiary);
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid var(--background-border);
  justify-items: center;
  align-items: center;
}

.game__score {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.game__round {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}

.game__word {
  grid-row: 2 / 3;
  grid-column: 1 / 4;
  text-transform: capitalize;
}

@media (min-width: 48rem) {
  .game {
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (min-width: 64rem) {
  .game {
    grid-template-columns: 0.2fr 2.6fr 0.2fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      '. . .'
      '. . .';
  }
  .game__interface {
    grid-column: 1 / 4;
  }
  .game__flashcards {
    grid-column: 2 / 3;
  }
}

@media (min-width: 75rem) {
  .game {
    grid-template-columns: 0.4fr 2.2fr 0.4fr;
  }
}

.game__flashcards--easy {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    '. .'
    '. .'
    '. .';
}

@media (min-width: 48rem) {
  .game__flashcards--easy {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      '. . .'
      '. . .';
  }
}

@media (min-width: 64rem) {
  .game__flashcards--easy {
    gap: 0px 40px;
  }
}

@media (min-width: 64rem) {
  .game__flashcards--easy {
    gap: 0px 60px;
  }
}
