.game {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.6fr 1.4fr;
  gap: 0px 0px;
  grid-template-areas:
    '.'
    '.';
  height: 100%;
}

.game__word {
  grid-row: 1 / 2;
  text-align: center;
  align-self: center;
}

.game__word::first-letter {
  text-transform: uppercase;
}
