.onboard {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.6fr 1.4fr;
  gap: 0px 0px;
  grid-template-areas:
    '.'
    '.';
  height: 100%;
}

.onboard__heading {
  text-align: center;
  align-self: center;
}

.onboard__buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
