header {
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    '.'
    '.';
}

.header__heading {
  grid-row: 2 / 3;
  font-family: 'bebas neue';
  font-size: 3em;
  letter-spacing: 0.05em;
  text-align: center;
  align-self: flex-end;
}

@media (min-width: 48rem) {
  .header__heading {
    font-size: 4em;
  }
}

.header__container {
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
