footer {
  grid-row: 3 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer > p {
  text-align: center;
}

.footer__text--link {
  color: var(--primary);
}

.footer__text--emoji {
  color: var(--error);
}
