.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.6fr 2.8fr 0.2fr;
  gap: 0px 0px;
  grid-template-areas:
    '.'
    '.'
    '.';
  background-color: var(--background);
  color: var(--font);
  font-size: 20px;
  min-height: 100vh;
}

[data-theme='dark'] {
  --background: #222831;
  --background-secondary: #3c424b;
  --primary: #4f8a8b;
  --secondary: #fbd46d;
  --tertiary: #f96d15;
  --font: #eeeeee;
  --error: #ff2216;
}

[data-theme='light'] {
  --background: #eeeeee;
  --bacground-secondary: #d5d5d5;
  --primary: #4f8a8b;
  --secondary: #fbd46d;
  --tertiary: #f96d15;
  --font: #222831;
  --error: #ff2216;
}
