.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.6fr 2.8fr 0.2fr;
  gap: 0px 0px;
  grid-template-areas:
    '.'
    '.'
    '.';
  background-color: var(--background);
  color: var(--font);
  font-size: 20px;
  min-height: 100vh;
}

[data-theme='dark'] {
  --background: #0d1b2a;
  --background-secondary: #1b263b;
  --background-tertiary: #415a77;
  --background-border: #ffc300;
  --primary: #185adb;
  --primary-alt: #005792;
  --secondary: #ffbd35;
  --tertiary: #3fa796;
  --font: #faedf0;
  --success: #3fa796;
  --success-alt: #125b50;
  --error: #d82148;
  --error-alt: #852747;
}

[data-theme='light'] {
  --background: #faedf0;
  --bacground-secondary: #faedf0;
  --background-tertiary: #faedf0;
  --background-border: #555555;
  --primary: #185adb;
  --primary-alt: #005792;
  --secondary: #ffbd35;
  --tertiary: #3fa796;
  --font: #222831;
  --success: #3fa796;
  --success-alt: #125b50;
  --error: #d82148;
  --error-alt: #852747;
}
